<% if @arrecadamento.errors.any? %>
    <ul>
        <% @arrecadamento.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for([@arrecadamento.arrecadacao, @arrecadamento]) do |f| %>
    <b>Mês/Ano:</b>  <%= f.object.arrecadacao.mes_ano %> <br/>
    <b>CPF:</b> <%= @usuario.cpf %> <br/>
    <b>Nome:</b> <%= @usuario.nome %> <br/>
    <b>Valor Pago:</b> <%= f.number_field :valor_pago, value: number_to_currency(@arrecadamento.valor_pago.to_f, delimiter: '', unit: ''), step: :any %> <br/>
    <%= f.hidden_field :usuario_id, value: @usuario.id %>
    <%= f.hidden_field :arrecadacao_id, value: @arrecadamento.arrecadacao.id %>
    <%= f.submit %>
<% end %>

</br>
<%= link_to "Lista de Arrecadações do mês #{@arrecadamento.arrecadacao.mes_ano}", arrecadacao_usuarios_path(@arrecadamento.arrecadacao.id) %>