<% if @arrecadacao.errors.any? %>
    <ul>
        <% @arrecadacao.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @arrecadacao do |f| %>
    Mês/Ano: <%= f.select :mes_ano, lista_mes_ano %> <br/>
    Valor Base: <%= f.number_field :valor_base, value: f.object.valor_base.to_f, step: :any %> <br/>
    <%= f.submit %>
<% end %>