<% if @compra.errors.any? %>
    <ul>
        <% @compra.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for(@compra) do |f| %>
    Mês/Ano: <%= f.collection_select(:arrecadacao_id, Arrecadacao.all, :id, :mes_ano) %> <br/>
    Produto: <%= f.collection_select(:produto_id, Produto.all, :id, :nome) %> <br/>
    Unidade: <%= f.object.unidade %> <br/>
    Observação: <%= f.object.observacao %> <br/>
    Preço: <%= f.number_field :preco, value: number_to_currency(f.object.preco.to_f, delimiter: '', unit: ''), step: :any %> <br/>
    Quantidade: <%= f.number_field :quantidade, value: f.object.quantidade %> <br/>
    Data da Compra: <%= f.date_field :data_compra, as: :date, value: f.object.try(:strftime,"%d/%m/%Y") %> </br>
    <%= f.submit %>
<% end %>

</br>
<%= link_to 'Lista de Compras', compras_path %>