<% if @compra.errors.any? %>
    <ul>
        <% @compra.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for([@compra.arrecadacao, @compra]) do |f| %>
    <b>Produto:</b>  <%= f.object.arrecadacao.nome %> <br/>
    <b>Unidade:</b>  <%= f.object.arrecadacao.unidade %> <br/>
    <b>Observação:</b>  <%= f.object.arrecadacao.observacao %> <br/>
    <b>CPF:</b> <%= @usuario.cpf %> <br/>
    <b>Nome:</b> <%= @usuario.nome %> <br/>
    <b>Valor Pago:</b> <%= f.number_field :valor_pago, value: number_to_currency(@compra.valor_pago.to_f, delimiter: '', unit: ''), step: :any %> <br/>
    <%= f.hidden_field :usuario_id, value: @usuario.id %>
    <%= f.hidden_field :arrecadacao_id, value: @compra.arrecadacao.id %>
    <%= f.submit %>
<% end %>

</br>
<%= link_to "Lista de Arrecadações do mês #{@compra.arrecadacao.mes_ano}", arrecadacao_usuarios_path(@compra.arrecadacao.id) %>