<!DOCTYPE html>
<html>
  <head>
    <title>Cafezinho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <table bgcolor='#F4A460' width='100%'>
      <tr>
        <td><b><%=link_to 'Home', root_path %></b></td>
      </tr>
    </table>
    </br>
    <%= yield %>
    </br></br>
    <table bgcolor='#F4A460' width='100%'>
      <tr>
        <td></br></td>
      </tr>
    </table>
  </body>
</html>
